.request-button {
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  border: none;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
}

.request-button:hover {
  background-color: #ffe1d9; /* light hover */
}
